.reminder-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.reminder-item-colored {
  color: var(--white);
}

.date-item-reminder {
  text-align: left;
  z-index: 1;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0 4px;
  font-weight: 500;
  margin-bottom: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
